{
    "env": "local|server|cluster",
    "root_data_path": "/path/to/your/data",
    "root_output_path": "path/to/your/outputs",
    "freesurfer_dir": "path/to/freesurfer",
    "lameg_dir": "path/to/anaconda/env/lameg",
    "spm_ctf_files_path": "path/to/anaconda/env/spm_standalone",
    "default_tmp_dir": "path/to/tmp/dir"
}